.MobileNoPage {
    width: 610px;
}
.registrationPage h4 {
    color: #6b2a69;
    font-size: 28px;
    font-weight: 400;
}
.registrationPage p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    opacity: 0.5;
}
#root {
    background-image: none !important;
  }
.enterMobileNO {
    margin-bottom: 57px;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
    border-color: #6b2a69;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]::placeholder {
    color: #4B0F62;
    opacity: 0.2; /* Firefox */
    font-size: 28px;
    text-align: center;
    margin: 18px;
}

input[type=number]:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #4B0F62;
}

input[type=number]::-ms-input-placeholder { /* Microsoft Edge */
   color: #4B0F62;
}
.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes bounce {
    0%, 100% {
      -webkit-transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-5px);
    }
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    right: 50px;
    top: 30px;
  }
